@page "/"
@namespace MultiSelectEditor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This example illustrates how to implement the multiple selection editor" />
    <title>Multiple Selection Editor</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="_content/DevExpress.Blazor/dx-blazor.css" rel="stylesheet" />
    <script>
        function dropdownElementContainerInit() {
            $(".dropdown").on('hide.bs.dropdown', function (e) {
                console.log(e.clickEvent);
                if (e.clickEvent) {
                    if ($(e.clickEvent.target).hasClass("MyListBox") || $(e.clickEvent.target).parents(".MyListBox").length) {
                        return false;
                    } else {
                        return true;
                    }
                }
                return true;
            });
            return Promise.resolve(true);
        }
    </script>
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
